<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/students/edit/<%= data.id  %>?_method=PUT " method="POST">
      <label for="id">Student ID:</label>
      <input
        type="number"
        id="id"
        name="id"
        value="<%= data.id %>"
        placeholder="Student ID"
      />
      <label for="name">Student name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= data.name  %> "
        placeholder="Student name"
      />
      <label for="age">Student age:</label>
      <input
        type="number"
        id="age"
        name="age"
        value="<%= data.age %>"
        placeholder="age"
      />
      <label for="merit">merit:</label>
      <input
        type="number"
        id="merit"
        name="merit"
        value="<%= data.scholarship.merit %>"
      />
      <label for="other">other:</label>
      <input
        type="number"
        id="other"
        name="other"
        value="<%= data.scholarship.other%>"
      />
      <button>submit</button>
    </form>
  </body>
</html>
